html {
    background-color: #0B0F19;
}

h1 {
    text-align: center;
    color: #4F7CFF;
    font-family: "Quantico", sans-serif;
    font-size: 4em;
}

p {
    font-family: "Lexend", sans-serif;
    text-align: center;
    color: #C9D1D9;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 5vh;
}

.grid {
    display: grid;
    border: 2px solid #4F7CFF;
}