html {
    background-image: url("./background-image.avif");
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #ffbb00;
    font-size: 1.4em;
}

.branding {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-top: 10px;
    gap: 5px;
    font-family: "Quantico", sans-serif;
    border-color: 2px solid #4F7CFF;
}

.headernav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    color: #ffbb00;
    gap: 20px;
    font-family: "Quantico", sans-serif;
}

.headernav a {
    color: #ffbb00;
    text-decoration: none;
    font-weight: bold;
}

.headernav a:hover {
    color: #ffe08a;
    text-shadow: 0 0 16px #ffbb00, 0 0 30px #ffbb00;
    transition: 0.2s ease-in-out;
}


h1 {
    text-align: center;
    color: #c9d1d9;
    font-family: "Quantico", sans-serif;
    font-size: 4em;
    text-shadow: 0 0 6px #ffffff, 0 0 24px #4F7CFF, 0 0 36px #4F7CFF, 0 0 48px #4F7CFF, 0 0 60px #4F7CFF;
}

p {
    font-family: "Lexend", sans-serif;
    text-align: center;
    color: #c9d1d9;
    font-size: 1.14em;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 5vh;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

img.star {
    width: 100%;
    height: auto;
}

.starholder {
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
}

.blank {
    width: 350px;
    height: 350px;
}

.projectholder {
    border-radius: 50px;
    width: 350px;
    height: 350px;
    opacity: 50%;
    background-color: #c9d1d9;
    transition: 0.1s ease-in-out;
}

.projectholder:hover {
    opacity: 100%;
    transition: 0.2s ease-in-out;
}

.projectholder a {
    text-decoration: none;
    color: #4F7CFF;
    font-family: "Quantico", sans-serif;
    font-size: 1.5em;
}