html {
    background-color: #0B0F19;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #ffbb00;
}

.branding {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-top: 5vh;
    gap: 5px;
    font-family: "Quantico", sans-serif;
}



h1 {
    text-align: center;
    color: #4F7CFF;
    font-family: "Quantico", sans-serif;
    font-size: 4em;
}

p {
    font-family: "Lexend", sans-serif;
    text-align: center;
    color: #C9D1D9;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 5vh;
}

.grid {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid #4F7CFF;
    border-radius: 25px;
}

img.star {
    width: 25%;
    height: auto;
}

.starholder {
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 2px solid #9bb0ff;
    border-radius: 25px;

}

.blank {
    border: 2px solid #9bb0ff;
    width: 250pxpx;
    height: 250px;
    border-radius: 25px;
}

.projectholder {
    border: 2px solid #9bb0ff;
    width: 250px;
    height: 250px;
    border-radius: 25px;
}